		
		
		
<div class="homepage" >



<% unless signed_in? %>
 <div id="fullscreen_bg" class="fullscreen_bg"/>
	<%= image_tag("287.jpg")%>
	
<% else %>

<div class="left-panel col-xs-3" >
<!-- h1 class="homepage">Welcome to Project 360</h1> <-->
<br>

<h2>Yo <%= @current_user.name %>!</h2>

<h5>Email: <%= @current_user.email %></h5>
<h5>Bio: <%= @current_user.bio %></h5>

<br>
<br>

<h3>Friends</h3>

<% if @current_user.friendships.length != 0 %>

	<% @current_user.friendships.each do |friendship| %>

		<% friend = User.find(friendship.friend_id) %>
		<a href="<%= user_url(friend.id) %>">
			<%= friend.name %>
		</a>
		<br>
	<% end %>
	
<% else %>
	
	Its cool bro! 
	
<% end %>




 <footer>
  <p>This is a footer.</p>
  
</footer> 
</div>

<div class="col-xs-9 right-panel">

	<% friend_images = [] %>

	<% @current_user.friendships.each do |friendship| %>

		<% friend = User.find(friendship.friend_id) %>
		<% friend.images.each { |image| friend_images << image } %>
	
	<% end %>

	<% friend_images.sort_by(&:created_at) %>

	<div class="feed-container">
		<br><br><br>

		<h1>Feed</h1>
		<br>
		<div class="photos">

		<% friend_images.each do |image| %>

			<% user = User.find(image.user_id) %>

			<div class="photo">
				<%= user.name %> - <%= image.created_at.strftime("%b %-d, %Y at %l:%M%P") %>
				<img class="photo" src="<%= image.filepicker_url %>">
			</div>		

		<% end %>

		</div>

	</div>

</div>


</div>




<%end%> 
