
<% user_bio = @user.bio || "" %>

<h2>Edit Profile</h2>

<form action="<%= user_url(@user.id) %>" method="POST">
	<input type="hidden" name="_method" value="patch">

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"



	<label for="user-name">Name</label>
	<input id="user-name" type="text" name="user[name]" value="<%= @user.name %>">

	<br>
	<label for="user-email">Email</label>
	<input id="user-email" type="text" name="user[email]" value="<%= @user.email %>">

	<br>
	<label for="user-pass">Password</label>
	<input id="user-pass" type="password" name="user[password]">

	<br>
	<label for="user-pass-conf">Confirm</label>
	<input id="user-pass-conf" type="password" name="user[password_dup]">

	<br>
	<label for="user-bio">Bio</label>
	<input id="user-bio" type="textfield" name="user[bio]" value="<%= user_bio %>">

	<br>
	<input type="submit" value="Save Changes">
</form>